table.CombinationsSet {
	margin-bottom: 0;
	width: 200px;
	float: left;
	border-width: 0 0 2px 0;
	border-style: solid;
}
.list-view div.view {
	word-break: break-word;
}

#combinationCheck-form {
	select {
		width:250px;
	}
}

.matching1 {
	.match {
		//background-color: #efefef;
	}
}
.matching2 {
	.match {
		background-color: #deffa5;
	}
}
.matching3 {
	.match {
		background-color: #fffaa5;
	}
}
.matching4 {
	.match {
		background-color: #ffdca5;
	}
}
.matching5 {
	.match {
		background-color: #c6efc6;
	}
}
.matching6 {
	.match {
		background-color: #00db00;
	}
}