<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
	<testsuites>
		<testsuite name="Unit Tests">
			<directory suffix="Test.php">combination/_unitTesting</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">_source</directory>
			<directory suffix=".php">m_toolbox</directory>
			<directory suffix=".php">src/test</directory>
		</blacklist>
		<whitelist addUncoveredFilesFromWhitelist="true">			
			<directory suffix=".php">combination</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="review/code-coverage"/>
		<log type="coverage-clover" target="review/logs/phpunit.xml"/>
		<log type="json" target="review/logs/phpunit.json"/>
		<log type="tap" target="review/logs/phpunit.tap"/>
		<log type="junit" target="review/logs/phpunit-junit.xml"/>
		<log type="testdox-html" target="review/testdox.html"/>
		<log type="testdox-text" target="review/testdox.txt"/>
	</logging>
</phpunit>