table.CombinationsSet{margin-bottom:0;width:200px;float:left;border-width:0 0 2px 0;border-style:solid;}
.list-view div.view{word-break:break-word;}
#combinationCheck-form select{width:250px;}
.CombinationStatistics .matching2 .match{background-color:#deffa5;}
.CombinationStatistics .matching3 .match{background-color:#fffaa5;}
.CombinationStatistics .matching4 .match{background-color:#ffdca5;}
.CombinationStatistics .matching5 .match{background-color:#c6efc6;}
.CombinationStatistics .matching6 .match{background-color:#00db00;}
.LF_Combination .matching11 .match{background-color:#deffa5;}
.LF_Combination .matching12 .match{background-color:#fffaa5;}
.LF_Combination .matching13 .match{background-color:#ffdca5;}
.LF_Combination .matching14 .match{background-color:#c6efc6;}
.LF_Combination .matching15 .match{background-color:#00db00;}
#emailsort{width:620px;}#emailsort #toEmail,#emailsort #notToEmail{list-style-type:none;margin:5px;padding:0 0 2.5em;float:left;margin-right:10px;}
#emailsort #toEmail,#emailsort #notToEmail{min-height:30px;width:280px;padding:10px;float:left;}#emailsort #toEmail li,#emailsort #notToEmail li{margin:0 5px 5px 5px;padding:5px;font-size:1.2em;width:260px;}
#emailsort #toEmail{background-color:#a0e5a0;}
#emailsort #notToEmail{background-color:#f7d2b9;}
#emailsort .email{line-height:1.1em;font-style:11px;}
#emailsort .name{font-weight:600;line-height:1.1em;font-style:12px;}
